# general things to ignore
__pycache__/
*.py[cod]
*.so
env/
build/
dist/
*.egg-info/
*.egg

# due to using tox and pytest
.tox/
.cache

# Jupyter Notebook
.ipynb_checkpoints

# virtualenv
.venv
venv/
ENV/

# editors
*~
